<h2>User Detail</h2>
<p><strong>Username:</strong> <%= user.username %></p>
<p><strong>First Name:</strong> <%= user.first_name %></p>
<p><strong>Last Name:</strong> <%= user.last_name %></p>
<p><strong>Gender:</strong> <%= user.gender %></p>
<p><strong>Birthdate:</strong> <%= user.birthdate %></p>

<a href="/users">Back to list</a> | <a href="/users/<%= user.id %>/edit">Edit</a>